.venv/
venv/
__pycache__/
*.py[cod]
*.egg-info/

runs/
dataset/
*.pt
*.onnx
*.engine
*.ncnn/
*_ncnn_model/

!deploy/rpi4/smart_retail_cart_pi4/models/
!deploy/rpi4/smart_retail_cart_pi4/models/*.pt
!deploy/rpi4/smart_retail_cart_pi4/models/*.onnx
!deploy/rpi4/smart_retail_cart_pi4/models/*_ncnn_model/
!deploy/rpi4/smart_retail_cart_pi4/models/*_ncnn_model/**
!deploy/rpi4/smart_retail_cart_pi4_zalo.zip

.DS_Store
Thumbs.db
